.menuContainer {
    height: 70vh;
    width: 18vw;
    margin-left: 2px;
    border: 5px solid black;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.menuItem {
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(249, 248, 246);
    border: 2px solid grey;
    border-radius: 5px;

}